# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://bgwbsfbyxjhformmuxyd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnd2JzZmJ5eGpoZm9ybW11eHlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEyNzk2MTUsImV4cCI6MjA3Njg1NTYxNX0.QlTGqEXKyYn2Jas6JLbPFhHouG7KNRvQm30KWgVKP4g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnd2JzZmJ5eGpoZm9ybW11eHlkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTI3OTYxNSwiZXhwIjoyMDc2ODU1NjE1fQ.9D8TJ4K248_NKHokVy9LdJSIWZKPykaW8j53G65J9VY

# ElevenLabs Configuration
ELEVENLABS_API_KEY=5f075eebfc3f77a9dd79d4c2e73217d2a0ab88f28e5d3301a1fcb94dcc508cb3

# Next.js Configuration
NEXTAUTH_URL=http://ijing.vercel.app
NEXTAUTH_SECRET=du7SfdMOkK/LLhXHMXPGR/Xpp3g1fTf8VqvqzpQGp+c=

# Production URL (for Vercel deployment)
NEXT_PUBLIC_APP_URL=https://ijing.vercel.app
